.body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.banner{
    background-color: #3498db50;
    color: #fff;
    padding: 50px;
    text-align: center;
}
.image-container{
    position: absolute;
    top: 15%;
    right: 50px;
    transform: translateY(-50%);
}
.image-container img{
    max-width: 300px;
    height: auto;
}